@font-face {
    font-family: "Roboto-Light";
    src: url("/Roboto-Light.ttf") format("woff2");
}
.hidden {
    display: none!important;
}
body{
    width: 400px;
    height: 74px;
}
/** control bar **/
svg {
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 16;
    height: 16px;
}
#media-control-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 3px;
    left: 95px;
}
#media-control-bar .control {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    #media-control-bar .control.circle {
        border-radius: 50%;
    }
    #play {
        color: white;
        fill: white;
        background-color: rgb(255, 87, 34);
    }
    #pause {
        color: white;
        fill: white;
        background-color: rgb(255, 87, 34);
    }
#progress-container {
    position: relative;
    background-color: transparent;
    height: 4px;
    width: 180px!important;
}
#progress-track {
    position: absolute;
    background-color: rgb(230, 230, 230);
    width: 100%!important;
    height: 4px;
}
#primary-progress {
    position: absolute;
    background-color: rgb(255, 87, 34);
    width: 5%;
    height: 4px;
    left: 0;
    z-index: 1;
}
/** Current track information **/
#current-track-info {
    overflow: hidden;
}
#current-track-info span {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 100;
}
#current-track-info .secondary-information {
    font-size: 12px;
}
#current-artwork {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
}
#current-title {
    position: absolute;
    top: 5px;
    left: 95px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 310px;
}
#album-artist {
    position: absolute;
    top: 28px;
    left: 95px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 310px;
}
#current-progress {
    position: absolute;
    bottom: 8px;
    right: 8px;
}